.advantages {
  margin-bottom: 42px;
}

.advantages__wrapper {
  padding: 0 20px;
}

.advantages__list {
  .reset-list();
}

.advantages__item {
  margin-bottom: 20px;
}

.advantages__icon {
  display: block;
  width: 60px;
  height: 60px;
  padding: 10px;

  background-color: @green;
}

.advantages__description {
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .advantages__wrapper {
    .tablet-wrapper();
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 50%;
    min-height: 250px;
  }
}

@media (min-width: @desctop-width) {
  .advantages__wrapper {
    .desctop-wrapper();
  }

  .advantages__item {
    width: 25%;
    min-height: 250px;
  }
}
