.advantages {
  margin-bottom: 42px;
}

.advantages__wrapper {
  padding: 0 20px;
}

.advantages__list {
  .reset-list();
}

.advantages__item {
  margin-bottom: 20px;
}

.advantages__icon {
  display: block;
  width: 60px;
  height: 60px;
  padding: 10px;

  background-color: @green;
}

.advantages__description {
  font-size: 14px;
}
