.button {
  display: block;
  padding: 10px;

  font-family: @site-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: @green;
  border: 1px solid @green;
  cursor: pointer;

  transition: all 0.2s;

  &:hover,
  &:focus {
    background-color: @green-hover;
    border-color: @green-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  font-size: 20px;
  line-height: 20px;
}
