.categories__wrapper {
  padding: 0 20px;
}

.categories__item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  padding: 22px 20px;
  background-color: @background-color;
}

.categories__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 20px;

  background-color: @green;
  border-radius: 50%;
}

.categories__icon-image {
  max-width: inherit;

  &--slim {
    width: 35px;
  }

  &--pro {
    width: 67px;
  }
}

.categories__title {
  font-family: @site-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black;
}

.categories__description {
  margin-top: 25px;
  padding-bottom: 20px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  border-bottom: 1px solid @light-grey;
}

.categories__link {
  position: relative;
  display: block;
  margin-top: 20px;

  font-family: @site-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black;

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateX(12px) translateY(-50%);

    width: 24px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: right center;
  }

  &:hover::after,
  &:focus::after {
    width: 33px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }
}

@media (min-width: @tablet-width) {
  .categories {
    margin-bottom: 51px;
  }

  .categories__wrapper {
    .tablet-wrapper();
  }

  .categories__item {
    margin-bottom: 30px;
    padding: 81px 285px 62px 52px;
  }

  .categories__icon {
    position: absolute;
    top: 50%;
    right: 62px;
    transform: translateY(-50%);

    width: 200px;
    height: 200px;
    margin: 0;
  }

  .categories__icon-image {
    &--slim {
      width: 140px;
    }

    &--pro {
      width: 268px;
    }
  }

  .categories__title {
    font-size: 36px;
  }

  .categories__description {
    margin: 30px 0;
    padding: 0;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  .categories__link {
    font-size: 20px;
    line-height: 20px;

    &::after {
      transform: translateX(25px) translateY(-50%);
    }
  }
}

@media (min-width: @desctop-width) {
  .categories {
    margin-bottom: 79px;
  }

  .categories__wrapper {
    .desctop-wrapper();
  }

  .categories__list {
    display: flex;
    justify-content: space-between;
  }

  .categories__item {
    width: 570px;
    margin-bottom: 0;
    padding: 47px 52px 62px;
  }

  .categories__icon {
    position: inherit;
    top: 0;
    right: 0;
    transform: none;

    width: 100px;
    height: 100px;
    margin-right: 64px;
  }

  .categories__icon-image {
    &--slim {
      width: 70px;
    }

    &--pro {
      width: 134px;
    }
  }

  .categories__description {
    margin-top: 45px;
    margin-bottom: 35px;
  }

  .categories__link {
    margin: 0;
  }
}
