.checkbox__input {
  display: none;
}

.checkbox__input + .checkbox__label::before {
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 16px;
  border: 1px solid @light-grey;

  transition: color ease 0.3s;
}

.checkbox__input + .checkbox__label:hover::before {
  border-color: #bfbfbf;
}

.checkbox__input + .checkbox__label:active {
  opacity: 0.3;
}

.checkbox__input:checked + .checkbox__label::before {
  color: @green;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 21px 16px;
  background-position: center;
}

@media (min-width: @tablet-width) {
  .checkbox__input + .checkbox__label::before {
    width: 40px;
    height: 40px;

    font-size: 35px;
  }
}
