.contacts {
  position: relative;
}

.contacts__wrapper {
  padding: 0 20px;
}

.contacts__info {
  display: flex;
  justify-content: space-between;
}

.contacts__invite {
  font-family: @site-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    .tablet-wrapper();
  }
}

@media (min-width: @desctop-width) {
  .contacts__wrapper {
    .desctop-wrapper();
    position: relative;
  }

  .contacts__info {
    position: absolute;
    top: 150px;
    left: 0;

    width: 500px;
    height: 100px;
    display: block;

    background-color: #ffffff;
  }
}
