.contacts__wrapper {
  padding: 0 20px;
}

.contacts__invite {
  font-family: @site-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
}
