.example {
  background-color: @background-color;
}

.example__wrapper {
  padding: 0 20px;
}

.example__description {
  font-size: 14px;
  line-height: 18px;

  margin: 20px 0;
}

.example__button {
  font-family: @site-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
}

@media (min-width: @tablet-width) {
  .example__wrapper {
    .tablet-wrapper();
  }
}

@media (min-width: @desctop-width) {
  .example__wrapper {
    .desctop-wrapper();

    display: flex;
  }

  .exemple__info {
    width: 50%;
  }
}
