.example-pictures {
  padding-bottom: 37px;
}

.example-pictures__wrapper {
  padding: 0 20px;
}

.example-pictures__image-box {
  margin-bottom: 35px;
  text-align: center;
}

.example-pictures__image {
  width: 320px;
  height: auto;
}

.example-pictures__image--after {
  display: none;
}

.example-pictures__radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.example-pictures__button {
  font-family: @site-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.example-pictures__range {
  width: 84px;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .example-pictures {
    background-color: @background-color;
    background-image: linear-gradient(to right, @background-color 0%, @background-color 50%, #eaeaea 50%, #eaeaea 100%);
  }

  .example-pictures__wrapper {
    .tablet-wrapper();
  }

  .example-pictures__image-box {
    margin-bottom: 13px;
  }

  .example-pictures__image {
    width: 100%;
    margin-top: -170px;
  }

  .example-pictures__button {
    padding: 6px;

    font-size: 20px;

    border-bottom: 1px dotted #bebebe;

    transition: all 0.2s;

    &:hover,
    &:focus {
      border-bottom-style: solid;
    }

    &:active {
      border-bottom-style: none;
    }
  }

  .example-pictures__range {
    width: 100%;
    margin: 0 17px;
  }
}

@media (min-width: @desctop-width) {
  .example-pictures {
    padding-bottom: 65px;
  }
}
