@media (min-width: @desctop-width) {
  .example-content {
    background-color: @background-color;
  }

  .example-content__wrapper {
    .desctop-wrapper();

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 65px;
  }
}
