.extra-checkbox__item {
  display: block;
}

.extra-checkbox__label {
  display: flex;
  align-items: center;

  font-family: @site-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black;

  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .extra-checkbox__content {
    display: flex;
    flex-wrap: wrap;
  }

  .extra-checkbox__item {
    width: 50%;
    margin-bottom: 32px;
  }

  .extra-checkbox__label {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desctop-width) {
  .extra-checkbox__item {
    width: 25%;
  }
}
