.good__name {
  font-family: @site-font;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black;
}

.good__description {
  font-size: 12px;
}

.good__button {
  width: 100%;

  font-size: 16px;
}
