.main-nav__toggle {
  position: absolute;
  top: 10px;
  right: 10px;

  cursor: pointer;
}

.main-nav__list {
  display: none;

  .reset-list();
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  display: block;
}

.main-nav--opened .main-nav__list {
  display: block;
}

@media (min-width: @tablet-width) {
  .main-nav {
    margin-left: auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    align-items: center;
  }
}
