.page-intro {
  margin-bottom: 22px;

  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.page-intro__wrapper {
  padding: 0 20px;
}

.page-intro__title {
  padding-top: 30px;
  margin-bottom: 20px;

  font-family: @site-font;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  color: @white;
}

.page-intro__slogan {
  display: block;

  font-family: @site-font;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  color: @white;
}

@media (min-width: @tablet-width) {
  .page-intro {
    min-height: 850px;

    background-image: none;
  }

  .page-intro__wrapper {
    .tablet-wrapper();
  }

  .page-intro__title {
    color: @black;
  }

  .page-intro__slogan {
    color: @black;
  }

  .page-intro__image {
    position: absolute;
    z-index: -1;
    height: 600px;
  }
}


@media (min-width: @desctop-width) {
  .page-intro__wrapper {
    .desctop-wrapper();
  }

  .page-intro__content {
    position: relative;
    padding-right: 50%;
  }

  .page-intro__image {
    top: 0;
    right: 0;
  }
}
