.page-header {
  position: relative;
  min-height: 265px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .page-header {
    min-height: 106px;
  }

  .page-header__wrapper {
    .tablet-wrapper();
  }
}

@media (min-width: @desctop-width) {
  .page-header__wrapper {
    .desctop-wrapper();
  }
}
