.page-footer__wrapper {
  padding: 0 20px;

  background-color: @background-color;
}

.page-footer__logo {
  display: block;
  padding: 40px 0 30px;
}

.page-footer__social {
  border-top: 1px solid @light-grey;
  border-bottom: 1px solid @light-grey;
}
