.section-title {
  font-family: @site-font;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @black;
}

.section-title--mini {
  font-size: 24px;
  line-height: 24px;
}

.section-title--line {
  position: relative;
  display: inline-block;
  padding-right: 24px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(50%);

    display: block;
    width: 500%;
    height: 3px;

    background-color: #68b738;
  }

  &::before {
    right: 100%;
    display: none;
  }

  &::after {
    left: 100%;
  }
}

@media (min-width: @tablet-width) {
  .section-title {
    font-size: 60px;
  }

  .section-title--mini {
    font-size: 36px;
    line-height: 36px;
  }

  .section-title--line {
    padding-left: 24px;
    transform: translateX(-24px);

    &::before {
      display: block;
    }
  }
}
