.site-list {
  font-family: @site-font;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.site-list__link {
  display: block;

  color: @black;
  text-decoration: none;
  padding: 25px;

  border-bottom: 1px solid @light-grey;
}
